body {
  background: #f2f2f2;
}

.square {
  height: 64px;
  width: 64px;
  border: solid black 1px;
  float: left;
  font-size: 48px;
  text-align: center;
}

.p0 {
  background: rgb(241, 230, 218);
}

.p1 {
  background: rgb(179, 255, 255);
}

.p2 {
  background: rgb(128, 191, 255);
}

.p3 {
  background: rgb(255, 230, 242);
}

.p4 {
  background: rgb(255, 123, 123);
}
