<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <h1><a href="/">My Dictionary</a></h1>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
